body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype'),
  url(./fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf) format('truetype')
}

@font-face {
  font-family: 'Kosugi_Maru';
  src: local('Kosugi_Maru'), url(./fonts/Kosugi_Maru/KosugiMaru-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto_Sans_JP';
  src: local('Noto_Sans_JP'), url(./fonts/Noto_Sans_JP/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto_Sans';
  src: local('Noto_Sans'), url(./fonts/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
}
